@inject NavigationManager NavigationManager

<tr class="asd" @onclick="SelectDay">
    <td><b>Day @dayInfo.Day</b></td>
    <td><b>@dayInfo.Title</b></td>
    <td><b>@dayInfo.Summary</b></td>
</tr>

@code {
    [Parameter]
    public Days.dayInfo dayInfo { get; set; }

    private void SelectDay()
    {
        NavigationManager.NavigateTo("/days/" + dayInfo.Day.ToString());
        // open page with the corresponding number
    }

    private void Highlight()
    {

    }
}
