@inject NavigationManager NavigationManager

<tr class="asd" @onclick="SelectDay">
    <td><b>Day @dayI.Day</b></td>
    <td><b>@dayI.Title</b></td>
    <td><b>@dayI.Summary</b></td>
</tr>

@code {
    [Parameter]
    public dayInfo dayI { get; set; }

    private void SelectDay()
    {
        NavigationManager.NavigateTo("/days/" + dayI.Day.ToString());
        // open page with the corresponding number
    }
}
