@inject NavigationManager NavigationManager

<tr class="day-table-entry" @onclick="SelectDay">
    <td><b>Day @dayinfo.Day</b></td>
    <td><b>@dayinfo.Title</b></td>
    <td><b>@dayinfo.Summary</b></td>
</tr>

@code {
    [Parameter]
    public DayData dayinfo { get; set; }

    private void SelectDay()
    {
        NavigationManager.NavigateTo(dayinfo.Year + "/" + dayinfo.Day);
        // open page with the corresponding number
    }
}
