.inputarea {
    border-radius: 0px;
    resize: none;
    cursor: auto;
    font-family: Courier New, Courier, monospace;
    max-height: 80%;
    min-height: 16em;
    height: 80%;
}

.pre-text {
    min-width: 0;
    overflow: auto;
}

.no-top-padding {
    padding-top: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}
