
::deep .day-table-entry:nth-child(odd) {
    background-color: #585858;
}

::deep .day-table-entry:nth-child(even) {
    background-color: #4a4a4a;
}

::deep .day-table-entry:hover {
    /*background-color: #aa5f03;*/
    outline-style: solid;
    outline-color: #fca840;
    outline-width: 2px;
    outline-offset: -2px;
    cursor: pointer
}
