@page "/2020"
@inject HttpClient Http

<div class="section">
    <div class="container">
        <h3>@Year</h3>
    </div>

    <div class="container">
        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Title</th>
                    <th>Summary</th>
                </tr>
            </thead>

            @if (days == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <tbody>
                    @foreach (dayInfo day in days)
                    {
                        <DaySummaryComponent dayinfo="@day"></DaySummaryComponent>
                    }
                </tbody>
            }
        </table>
    </div>
</div>

    @code {
        private int Year = 2020;

        public dayInfo[] days;

        protected override async Task OnInitializedAsync()
        {
            days = await Http.GetFromJsonAsync<dayInfo[]>($"sample-data/dayinfo{Year}.json");
        }
    }
