@page "/"

    <div class="section">
        <div class="container">
            <h3>About</h3>
            <hr />
            <h5>This is a client web app created using Blazor to host my solutions for <a target="_blank" href="https://adventofcode.com/">Advent of Code</a> puzzles.</h5>
            <h5>Advent of Code is an annual Advent calendar of 25 two-part programming puzzles created by <a target="_blank" href="https://twitter.com/ericwastl">Eric Wastl</a>.</h5>
        </div>
    </div>
